/* CHAT STYLES */
* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.ce-chat-list {
  background-color: #f5f2f2 !important;
}

.ce-chats-container {
  background-color: #82a5da!important;
}

.ce-active-chat-card {
  background-color: #bcc9dc !important;
  border: 4px solid #bcc9dc !important;
  border-radius: 10px !important;
  box-shadow: 2px 3px #e0e8f446!important;
}

.ce-chat-subtitle-text {
  color: #595959 !important;
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
}

.ce-text-input {
  border-radius: 6px !important;
  background-color: #bcc9dc;
  border: 1px solid #0e3059 !important;
  box-shadow: 2px 3px #c1d1e86f!important;
}

.ce-primary-button {
  border-radius: 6px !important;
  background-color: #355985 !important;
  position: relative;
  bottom: 1px;
  font-weight: bolder;
  transition: all 2s;
}

.ce-danger-button {
  background-color: white !important;
  border-radius: 20px !important;
}

.ce-settings {
  background-color: rgb(240, 240, 240) !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  padding-top: 12px !important;
}

.ce-chat-avatars-row {
  display: none !important;
}

/* CUSTOM FEED */

.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: rgb(245, 241, 241);
}

.chat-title-container {
  width: calc(100% - 36px);
  padding: 18px;
  text-align: center;
}

.chat-title {
  color: #000000;
  font-weight: 800;
  font-size: 24px;
}

.chat-subtitle {
  color: #000000;
  font-weight: 600;
  font-size: 12px;
  padding-top: 4px;
}

.message-row {
  float: left;
  width: 100%;
  display: flex;
  margin-left: 18px;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}

.message {
  color: #0e3059;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  max-width: 60%;
  background-color: rgba(238, 120, 203, 0.344);
}

.message-image {
  margin-right: 18px;
  object-fit: cover;
  border-radius: 7px;
  height: 30vw;
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.read-receipts {
  position: relative;
  bottom: 6px;
}

.read-receipt {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.message-form-container {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 36px);
  padding: 18px;
  background-color: rgb(240, 240, 240);
}

.message-form {
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #3b2a50;
  background-color: white;
}

.message-input {
  height: 40px;
  width: calc(100% - 132px);
  background-color: white;
  border: 1px solid white;
  padding: 0px 18px;
  outline: none;
  font-size: 15px;
}

.image-button {
  cursor: pointer;
  padding: 12px;
  height: 100%;
}

.send-button {
  height: 42px;
  background-color: white;
  border: 1px solid white;
  padding: 10px;
  cursor: pointer;
}

.logout-button {
  position: absolute;
  right: 0;
  background-color: #bcc9dc;
  border: 1px solid #0e3059;
  border-radius: 6px;
  padding: 7px;
  margin-top: 14px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  box-shadow: 2px 3px #c1d1e86f;
}

.logout-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.logout-button span:after {
  content: '\27BE';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.logout-button:hover span {
  padding-right: 25px;
}
.logout-button:hover span:after {
  opacity: 1;
  right: 0;
}

.send-icon {
  top: 1px;
  position: relative;
  transform: rotate(-90deg);
}

.picture-icon {
  top: 1px;
  position: relative;
  font-size: 14px;
  padding: 20px;
}

/* FORM STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62,5%;
}

.wrapper {
  height: 100vh;
  width: 100%;
  background: rgb(84, 146, 160);
  background: linear-gradient(45deg, rgba(235, 193, 188, 0.988) 5%, rgb(179, 121, 121) 17%, rgb(191, 83, 83) 30%, rgb(37, 44, 121) 44%, rgb(65, 96, 162) 66%, rgb(91, 161, 232) 83%, rgb(193, 218, 230) 96%, rgb(255, 255, 255) 100%, rgb(249, 249, 249));  
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  color: #333;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  outline: none;
  margin-bottom: 25px;
}

.form {
  width: 350px;
}

.title {
  text-align: center;
  color: white;
  margin-top: 20px;
  width: 100%;
  font-size: 2.3em;;
}

.button {
  border-radius: 20px;
  border: none;
  background-color: white;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding: 20px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  width: 90%;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.button span:after {
  content: '\27BE';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.error {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}

.sign-up-link, .log-in-link {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.link {
  text-decoration: none;
  color: #eec9c9;
}